<div class="sidenav-contents">
    <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav1">{{nav}}</a>
    </mat-nav-list>
</div>
<div class="sidenav-contents">
    <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav2">
            <div>{{nav}}</div>
        </a>
    </mat-nav-list>
</div>
<div class="sidenav-contents">
    <mat-nav-list>
        <a mat-list-item routerLink="." *ngFor="let nav of fillerNav3">{{nav}}</a>
    </mat-nav-list>
</div>