<div class="main-container" [class.is-mobile]="mobileQuery.matches">
    <app-com-header></app-com-header>
    <mat-sidenav-container class="sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <app-com-navi></app-com-navi>
        <app-main-contents></app-main-contents>
    </mat-sidenav-container>
</div>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
      Use of this source code is governed by an MIT-style license that
      can be found in the LICENSE file at http://angular.io/license -->